<div class="container">
  <button name="openWindow" class="btn btn-success pull-right" ng-click="$ctrl.openWindow()">
    <span tooltips tooltip-template="Open Slide in the new window" tooltip-side="bottom">
      <i class="fa fa-eye"></i> View</button>
    </span>
  <h1>{{$ctrl.presentation.title}}</h1>
  <div class="list-group slide">
    <a href="#" ng-click="$ctrl.select(slide)" class="list-group-item" ng-repeat="slide in $ctrl.presentation.slides" ng-class="{'active': slide.active}">{{slide.content}}</a>
  </div>
</div>
