<div class="modal-header">
    <h3 class="modal-title">Add New Presentation</h3>
</div>
<div class="modal-body">
  <form name="form" class="form-horizontal" novalidate>
    <fieldset>
      <fieldset>
        <div class="form-group col-md-12">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Enter Title" ng-model="presentation.title">
        </div>
        <div class="form-group col-md-12">
          <label for="content">Content</label>
          <textarea msd-elastic="\n" class="form-control" id="content" name="content" ng-model="presentation.content"></textarea>
           <small class="text-muted">Enter empty line to open new slide.</small>
        </div>

        <h4>Style</h4>

        <div class="form-group col-md-4 style-selector">
          <label for="background">Background Color</label>
          <input colorpicker colorpicker-shown="#000000" type="text" class="form-control" id="background" ng-model="presentation.style.background" ng-style="{'background-color': presentation.style.background}">
        </div>
        <div class="form-group col-md-4 style-selector">
          <label for="color">Text Color</label>
          <input colorpicker type="text" class="form-control" id="color" ng-style="{'background-color': presentation.style.color}" ng-model="presentation.style.color">
        </div>
        <div class="form-group col-md-4 style-selector">
          <label for="font-size">Font Size</label>
          <input type="number" class="form-control" id="font-size" ng-model="presentation.style.fontSize">
        </div>
        <div class="form-group col-md-4 style-selector">
          <label for="backgroundUrl">Background Image URL</label>
          <input type="url" class="form-control" id="backgroundUrl" ng-model="presentation.style.backgroundUrl">
        </div>
      </fieldset>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
