<div class="container">
  <div class="add-form">
    <div class="toggle-button clearfix">
      <button name="toggleForm" class="btn btn-primary pull-right" ng-hide="$ctrl.addShow" ng-click="$ctrl.openModal()"><i class="fa fa-plus"></i> New Presentation</button>
    </div>
  </div>

  <div class="list presentation">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="presentation in $ctrl.presentations">{{presentation.title}}
        <div class="pull-right">
          <button type="button" class="present clearBtn" ui-sref="present({id: presentation._id})">
            <i class="fa fa-play"></i>
          </button>
          <button type="button" class="edit clearBtn">
            <i class="fa fa-pencil"></i>
          </button>
          <button type="button" class="close" ng-show="$ctrl.isAdmin()" ng-click="$ctrl.deletePresentation(presentation)">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
