.slideshow {
  .slide  {
    white-space: pre-wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
  }
  background: black;
  color: yellow;
  height: 100vh;
  width: 100vw;
  margin: 0;
  position: relative;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 40px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}

.btn-primary.outline {
    // border: 2px solid #0099cc;
    border: 0;
    color: transparent;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    box-shadow: none;
    border-color: transparent;
    border: 0;
    outline: 0;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    // border-color: #007299;
    color: #007299;
    border: 0;
    // box-shadow: none;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline:0;
}

tooltip{
  font-size: 20px !important; 
}
