<div class="container slideshow" ngsf-fullscreen ng-style="$ctrl.style">
  <div class="presentation" ng-repeat="presentation in $ctrl.presentations | filter: {_id:$ctrl.$stateParams.id}">
    <div class="slide view" ng-repeat="slide in presentation.slides | filter: {active: true}">{{slide.content | uppercase}}</div>
  </div>
  <button ngsf-toggle-fullscreen class="btn btn-primary btn-xlarge outline" tooltips tooltip-template="Toggle Full Screen" tooltip-side="right"><i class="fa fa-arrows-alt"></i></button>
</div>
